<div class="result-loader" *ngIf="resultloader">
    <div class="loading-image"></div>
</div>
<div class="container" style="margin-top:20px">
    <h2>SOCandidate Mapping</h2>
    
    <div class="container">    
        <form [formGroup]="mapppingForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-25">
                    <label for="candidateId">Candidate Name:</label>
                </div>
                <div class="col-75">
                    <select id="candidateId" name="candidateId" formControlName="candidateId">
                        <option disabled>Select a candidate:</option>
                        <option *ngFor="let candidate of CandidateData" value="{{candidate.candidateId}}">
                            {{candidate.candidateName}}</option>
                    </select>
                    <div *ngIf="(f.candidateId.touched || submitted) && f.candidateId.invalid" class="text-danger">
                        <div *ngIf="f.candidateId.errors.required">*CandidateName is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="sowId">SO Name:</label>
                </div>
                <div class="col-75">
                    <select id="sowId" name="sowId" formControlName="sowId">
                        <option disabled>Select a SO:</option>
                        <option *ngFor="let sow of SOData" value="{{sow.sowId}}">{{sow.soName}}</option>
                    </select>
                    <div *ngIf="(f.sowId.touched || submitted) && f.sowId.invalid" class="text-danger">
                        <div *ngIf="f.sowId.errors.required">*SO Name is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="statusId">Status:</label>
                </div>
                <div class="col-75">
                    <select id="statusId" name="statusId" formControlName="statusId">
                        <option disabled>Select a Status:</option>
                        <option *ngFor="let status of StatusData" value="{{status.statusId}}">{{status.statusName}}
                        </option>
                    </select>
                    <div *ngIf="(f.statusId.touched || submitted) && f.statusId.invalid" class="text-danger">
                        <div *ngIf="f.statusId.errors.required">*Status is required.</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
    <div class="container">
        <div style="flex-grow: 1; text-align: right; margin-bottom: 10px; display: inline;">
              <input style="width:200px;height:30px;margin-right: 10px; margin-left:65%;" type="text" maxlength="256"
              [(ngModel)]="searchText" (keyup)="searchFilter()" placeholder="Search by any column">
             <button (click)="download();" title="Download to Excel">
             <img src="../../assets/icons/download.png" class="icons" alt="Download">
            </button>
        </div>
        <div class="row tbl-fixed">
           
            <div style="flex-grow: 1; text-align: left; margin-bottom: 10px;">
                
            </div>
            <table class="table table-fixed" *ngIf="isAuthor">
                <thead>
                    <th style="border: 1px solid;">SO Name</th>
                    <th style="border: 1px solid;">Candidate Name</th>
                    <th style="border: 1px solid;">Status</th>
                    <th style="border: 1px solid;">Actions</th>
                </thead>
                <tbody *ngIf="MappingData">
                    <tr *ngFor="let map of batchRecord">
                        <td style="border: 1px solid;">{{map.soName}}</td>
                        <td style="border: 1px solid;">
                            {{map.candidateName}}</td>
                            <td style="border: 1px solid;">{{map.statusName}}</td>
                        <td style="border: 1px solid;">
                            <button
                                (click)="editDetails(map)"><img src="../../assets/icons/edit.ico" 
                                    class="icons"></button> &nbsp;
                                    <button (click)="deleteDetails(map)"><img
                                    src="../../assets/icons/delete.png"  class="icons" /></button>
                           </td>
                    </tr>
                </tbody><tbody *ngIf="MappingData">
                     <tr *ngFor="let map of batchRecord">
                          <td
                            style="border: 1px solid;">{{map.soName}}</td> <td style="border: 1px solid;">
                            {{map.candidateName}}</td> <td style="border: 1px solid;">{{map.statusName}}</td>
                         </tr> </tbody>
            </table>
            <table class="table table-fixed" *ngIf="!isAuthor">
                <thead>
                    <th style="border: 1px solid;">SO Name</th>
                    <th style="border: 1px solid;">Candidate Name</th>
                    <th style="border: 1px solid;">Status</th>
                </thead>
                <tbody *ngIf="MappingData">
                    <tr *ngFor="let map of batchRecord">
                        <td style="border: 1px solid;">{{map.sowName}}</td>
                        <td style="border: 1px solid;">{{map.candidateName}}</td>
                        <td style="border: 1px solid;">{{map.status}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <p>Row Count:{{rowCount}}</p>
        <div class="row justify-content-center" style="margin-top: 10px;">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item"><button class="btn btn-info" 
                       (click)="OnPreviousClicked()" [disabled]="!(currentPage > 1)">Previous</button></li>
                    <li class="page-item active">
                        <label style="margin-left:10px">Page</label>
                        <input type="number"
                            style="width: 2.2rem; height: 1.9rem;margin-right: 5px;" value="{{currentPage}}" (change)="OnPageNumberChanged($event)">
                        <label>of
                            {{totalPages}}
                        </label>
                    </li>
                    <li class="page-item"><button class="btn btn-info" (click)="OnNextClicked()" [disabled]="(currentPage == totalPages)">Next</button></li>
                </ul>
            </nav>
        </div>
    </div>
</div>