<div *ngIf="resultloader">
    <div class="blurred-result-loader">
        <div class="loading-image"></div>
    </div>
</div>
<div class="container" style="margin-top:20px">
    <h2 class="header" style="margin-right: 650px;">SO Details</h2>
    <button type="button" class="btn-close btn btn-danger  " aria-label="Close" style="padding-left: 10px;padding-right: 10px;"(click)="cancel()">X</button>


    <div class="container">
        <form [formGroup]="SowForm" >
            <div class="row">
                <div class="col-25">
                    <label for="soName"> SO Name: </label>
                </div>
                <div class="col-75">
                    <input type="text" name="soName" id="soName" formControlName="soName" placeholder="Enter SO Name"
                        required>
                    <div *ngIf="(f.soName.touched || submitted) && f.soName.invalid" class="text-danger">
                        <div *ngIf="f.soName.errors.required">*SO Name is required.</div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-25">
                    <label for="jrCode"> JR Code: </label>
                </div>
                <div class="col-75">
                    <input type="text" name="jrCode" id="jrCode" formControlName="jrCode" placeholder="Enter JR Code"
                        required>
                    <div *ngIf="(f.jrCode.touched || submitted) && f.jrCode.invalid" class="text-danger">
                        <div *ngIf="f.jrCode.errors.required">*JR Code is required.</div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-25">
                    <label for="requestCreationDate">Request Creation Date: </label>
                </div>
                <div class="col-75">
                    <input type="date" name="requestCreationDate" id="requestCreationDate"
                        formControlName="requestCreationDate" placeholder="Choose requestCreationDate"
                        style="height:40px" required>
                    <div *ngIf="(f.requestCreationDate.touched || submitted) && f.requestCreationDate.invalid"
                        class="text-danger">
                        <div *ngIf="f.requestCreationDate.errors.required">*Request Creation Date is required.</div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-25">
                    <label for="accountId">Account: </label>
                </div>
                <div class="col-75">
                    <select id="accountId" name="accountId" formControlName="accountId">
                        <option disabled>Select an Account:</option>
                        <option *ngFor="let acc of accountList" value="{{acc.accountId}}">{{acc.accountName}}</option>
                    </select>
                    <div *ngIf="(f.accountId.touched || submitted) && f.accountId.invalid" class="text-danger">
                        <div *ngIf="f.accountId.errors.required">*Account Name is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="technologyId">Technology: </label>
                </div>
                <div class="col-75">
                    <select id="technologyId" name="technologyId" formControlName="technologyId">
                        <option disabled>Select a Technology:</option>
                        <option *ngFor="let tech of technologyList" value="{{tech.technologyId}}">
                            {{tech.technologyName}}</option>
                    </select>
                    <div *ngIf="(f.technologyId.touched || submitted) && f.technologyId.invalid" class="text-danger">
                        <div *ngIf="f.technologyId.errors.required">*Technology is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="role">Role/Technology Details: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="role" name="role" formControlName="role" placeholder="Enter role" required>
                    <div *ngIf="(f.role.touched || submitted) && f.role.invalid" class="text-danger">
                        <div *ngIf="f.role.errors.required">*Role is required.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="regionId">Region: </label>
                </div>
                <div class="col-75">
                    <select id="regionId" name="regionId" formControlName="regionId">
                        <option disabled>Select a Region:</option>
                        <option *ngFor="let region of regionList" value="{{region.regionId}}">{{region.region}}</option>
                    </select>
                    <div *ngIf="(f.regionId.touched || submitted) && f.regionId.invalid" class="text-danger">
                        <div *ngIf="f.regionId.errors.required">*Region is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="locationId">Location: </label>
                </div>
                <div class="col-75">
                    <select id="locationId" name="locationId" formControlName="locationId">
                        <option disabled>Select a Location:</option>
                        <option *ngFor="let location of locationList" value="{{location.locationId}}">
                            {{location.location}}</option>
                    </select>
                    <div *ngIf="(f.locationId.touched || submitted) && f.locationId.invalid" class="text-danger">
                        <div *ngIf="f.locationId.errors.required">*Location is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="targetOpenPositions">Target Open Positions: </label>
                </div>
                <div class="col-75">
                    <input type="number" id="targetOpenPositions" name="targetOpenPositions"
                        formControlName="targetOpenPositions" placeholder="Please Enter the Number"
                        style="height:40px" required>
                    <div *ngIf="(f.targetOpenPositions.touched || submitted) && f.targetOpenPositions.invalid"
                        class="text-danger">
                        <div *ngIf="f.targetOpenPositions.errors.required">*Target Open Positions is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="positionsTobeClosed">Positions To be Closed: </label>
                </div>
                <div class="col-75">
                    <input type="number" name="positionsTobeClosed" id="positionsTobeClosed"
                        formControlName="positionsTobeClosed" placeholder="Please Enter the Number"
                        style="height:40px" required>
                    <div *ngIf="(f.positionsTobeClosed.touched || submitted) && f.positionsTobeClosed.invalid"
                        class="text-danger">
                        <div *ngIf="f.positionsTobeClosed.errors.required">*Positions Tobe Closed is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="ustpocId">USTPOC: </label>
                </div>
                <div class="col-75">
                    <select id="ustpocId" name="ustpocId" formControlName="ustpocId">
                        <option disabled>Select a USTPOC:</option>
                        <option *ngFor="let poc of ustPocList" value="{{poc.ustpocId}}">{{poc.ustpocName}}</option>
                    </select>
                    <div *ngIf="(f.ustpocId.touched || submitted) && f.ustpocId.invalid" class="text-danger">
                        <div *ngIf="f.ustpocId.errors.required">*UST POC is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="recruiterId">Recruiter: </label>
                </div>
                <div class="col-75">
                    <select id="recruiterId" name="recruiterId" formControlName="recruiterId">
                        <option disabled>Select a Recruiter:</option>
                        <option *ngFor="let rec of recruiterList" value="{{rec.recruiterId}}">{{rec.recruiterName}}
                        </option>
                    </select>
                    <div *ngIf="(f.recruiterId.touched || submitted) && f.recruiterId.invalid" class="text-danger">
                        <div *ngIf="f.recruiterId.errors.required">*Recruiter is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="usttpmId">USTTPM: </label>
                </div>
                <div class="col-75">
                    <select id="usttpmId" name="usttpmId" formControlName="usttpmId">
                        <option disabled>Select a USTTPM:</option>
                        <option *ngFor="let tpm of ustTpmList" value="{{tpm.usttpmId}}">{{tpm.usttpmName}}</option>
                    </select>
                    <div *ngIf="(f.usttpmId.touched || submitted) && f.usttpmId.invalid" class="text-danger">
                        <div *ngIf="f.usttpmId.errors.required">*UST TPM is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="dellManagerId">Dell Manager: </label>
                </div>
                <div class="col-75">
                    <select id="dellManagerId" name="dellManagerId" formControlName="dellManagerId">
                        <option disabled>Select a Dell Manager:</option>
                        <option *ngFor="let dell of dellManagerList" value="{{dell.dellManagerId}}">
                            {{dell.dellManagerName}}</option>
                    </select>
                    <div *ngIf="(f.dellManagerId.touched || submitted) && f.dellManagerId.invalid" class="text-danger">
                        <div *ngIf="f.dellManagerId.errors.required">*Dell Manager is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="statusId">Status: </label>
                </div>
                <div class="col-75">
                    <select id="statusId" name="statusId" formControlName="statusId">
                        <option disabled>Select a Status:</option>
                        <option *ngFor="let status of statusList" value="{{status.statusId}}">{{status.statusName}}
                        </option>
                    </select>
                    <div *ngIf="(f.statusId.touched || submitted) && f.statusId.invalid" class="text-danger">
                        <div *ngIf="f.statusId.errors.required">*Status is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="band">Band: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="band" name="band" formControlName="band" placeholder="Enter band" required>
                    <div *ngIf="(f.band.touched || submitted) && f.band.invalid" class="text-danger">
                        <div *ngIf="f.band.errors.required">*Band is required.</div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-25">
                    <label for="projectId">Project Id: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="projectId" name="projectId" formControlName="projectId"
                        placeholder="Enter projectId">
                    <div *ngIf="(f.projectId.touched || submitted) && f.projectId.invalid" class="text-danger">
                        <div *ngIf="f.band.errors.required">*Project Id is required.</div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-25">
                    <label for="accountManager">Account Manager: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="accountManager" name="accountManager" formControlName="accountManager"
                        placeholder="Enter accountManager" required>
                    <div *ngIf="(f.accountManager.touched || submitted) && f.accountManager.invalid"
                        class="text-danger">
                        <div *ngIf="f.accountManager.errors.required">*Account Manager is required.</div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-25">
                    <label for="externalResource">External Resource: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="externalResource" name="externalResource" formControlName="externalResource"
                        placeholder="Enter externalResource">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="internalResource">Internal Resource: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="internalResource" name="internalResource" formControlName="internalResource"
                        placeholder="Enter internalResource">
                </div>
            </div>
            <br>
            <div class="row">
                <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
                <button type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>