<h2>Welcome {{Username}}!</h2>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card card-default shadow rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <ul class="tabs-container">
                                <li (click)="onTabClick('SO')" [class.active]="activeTab == 'SO'" class="tab-link">SO
                                </li>
                                <li (click)="onTabClick('Candidates')" [class.active]="activeTab == 'Candidates'"
                                    class="tab-link">Candidates</li>
                            </ul>
                            <div *ngIf="activeTab == 'SO'" class="w-100">
                                <br />
                                <br />

                                <select name="demo" #period (change)="onSelected(period.value)" class="dropdown">
                                    <option default value="Weekly">Weekly</option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Fortnight">Fortnight</option>
                                    <option value="Quarterly">Quarterly</option>
                                </select>

                                <div class="cards_wrap">
                                    <div class="card_item">
                                        <div class="card_inner">
                                            <div class="role_name">So Status</div>
                                            <ul *ngFor="let status of statuses">
                                                <li>{{status.name}}:{{status.count}} </li>

                                            </ul>
                                        </div>
                                    </div>

                                    <div class="card_item">
                                        <div class="card_inner">
                                            <div class="role_name">Technology</div>
                                            <ul style="list-style: none;" *ngFor="let technology of technologies">
                                                <li>{{technology.name}}:{{technology.count}} </li>

                                            </ul>
                                        </div>
                                    </div>

                                    <div class="card_item">
                                        <div class="card_inner">
                                            <div class="role_name">Region</div>
                                            <ul style="list-style: none;" *ngFor="let region of regions">
                                                <li>{{region.name}}:{{region.count}} </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="cards_wrap">
                                    <div class="card_item">
                                        <div class="card_inner">
                                            <div class="role_name"></div>
                                        </div>
                                    </div>
                                    <div class="card_item">
                                        <div class="card_inner">
                                            <div class="role_name"></div>
                                        </div>
                                    </div>

                                    <div class="card_item">
                                        <div class="card_inner">
                                            <div class="role_name"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="activeTab == 'Candidates'" class="w-100">
                                <br />
                                <br>
                                <select name="demo" #period (change)="onSelectionChange(period.value)" class="dropdown">
                                    <option default value="Weekly">Weekly</option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Fortnight">Fortnight</option>
                                    <option value="Quarterly">Quarterly</option>
                                </select>
                                <div class="cards_wrap">
                                    <div class="card_item">
                                        <div class="card_inner">
                                            <div class="role_name">Location</div>
                                            <ul style="list-style: none;" *ngFor="let loc of location">
                                                <li>{{loc.name}}:{{loc.count}}</li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card_item">
                                        <div class="card_inner">
                                            <div class="role_name"></div>
                                            <ul style="list-style: none;">
                                                <li></li>
                                                <li></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card_item">
                                        <div class="card_inner">
                                            <div class="role_name"></div>
                                            <ul style="list-style: none;">
                                                <li></li>
                                                <li></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="cards_wrap">
                                    <div class="card_item">
                                        <div class="card_inner">
                                            <div class="role_name"></div>
                                        </div>
                                    </div>
                                    <div class="card_item">
                                        <div class="card_inner">
                                            <div class="role_name"></div>
                                        </div>
                                    </div>
                                    <div class="card_item">
                                        <div class="card_inner">
                                            <div class="role_name"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>